.graph {
  height: 10px;
}
#result {
  max-width: 700px;
}
.times {
  text-align: right;
}
.present {
  text-align: right;
}
.history_trump {
  height: 60px;
}
.center {
  text-align: center;
}
.title {
  width: 15%;
}
.times {
  width: 15%;
}
.persent {
  width: 30%;
}
.graph_cell {
  width: 40%;
}
